<% @accointances.each do |accointance| %>
    <div class="card-accointance">
      <!-- <div class="profil-pic"> -->
      <%#= image_tag "users/#{accointance.image}", class: "image_round" %>
      <!-- </div> -->

      <div class="name">
        <li>
          <%= "accointance_id =" %>
          <%= accointance.id %>
        </li>
        <li>
          <%= "follower_id" %>
          <%= accointance.follower_id %>
        </li>
        <li>
          <%= "recipient_id" %>
          <%= accointance.recipient_id %>
        </li>
      </div>

      <% if accointance.status == 'pending' %>
      <%= button_to 'Accepter', accointances_request_path('accepted', accointance.id), method: :patch %>
      <%= button_to 'Rejeter', accointances_request_path('refused', accointance.id), method: :patch %>
    <% end %>
    </div>
<% end %>
