<div class="container">

<!-- la barre de recherche -->
  <div class="search-barre row justify-content-center m-2 my-4">
    <div class="">
      <%= form_with url: accointances_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "search-barre",
              placeholder: "ajoute ton date !"
          %>
        <%= submit_tag "Search", name: "", class: "button_ajout_accointance" %>
      <% end %>
    </div>
  </div>



  <div class="row m-4 title"> Mes demandes </div>
  <% @accointances.each do |accointance| %>
    <div class="card-accointance d-flex">
      <div class="profil-pic">
        <%= image_tag "users/#{accointance.follower.picture}", class: "image_round m-4" %>
      </div>

      <div class="row row-test">
        <div class="name">
          <%= accointance.follower.first_name %>
        </div>
        <div class="description">
          <%= accointance.follower.last_name %>
        </div>
      </div>
      <div class="flex">
        <% if accointance.status == 'pending' %>
          <div class="row earth-button py-2">
            <%= button_to accointances_request_path('accepted', accointance.id), method: :patch, class: 'icon-button' do %>
              <%= image_tag "circle-check-solid.svg", class: "icon" %>
            <% end %>
          </div>
          <div class="row earth-button py-2">
            <%= button_to accointances_request_path('refused', accointance.id), method: :patch, class: 'icon-button' do %>
              <%= image_tag "circle-xmark-solid.svg", class: "icon" %>
            <% end %>
          </div>
        <% else %>
          <div class="row m-4">
            <h2>Vous n'avez aucune demande en cours</h1>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
