<div class="friends-show d-flex flex-column">
  <div class ="friends-show-image" style="background-image: url('<%= image_path("users/#{@friend.picture}") %>');"></div>
  <div class="friends-show-infos friends-show-bio p-2 d-flex flex-column justify-content-between">
    <div>
      <h1 class="fw-bold m-0"><%= @friend.first_name %> <%= @friend.last_name %></h1>
      <p class="fst-italic mt-0 text-dark"> <%= @friend.birthdate.strftime("%d/%m/%Y")%> </p>
      <p class="fw-light text-dark"><%= @friend.bio %></p>
      <p class="fw-light text-dark text-decoration-underline"> Mes préférences :</p>
      <ul class="d-flex justify-content-center"> <% @friend.venue_categories.each do |category| %>
        <li class="fw-light" style="list-style-type:none;"><i class="fa-solid fa-heart"></i> <%= category.main_category %> </li>
        <% end %>
      </ul>
    </div>
    <div class="d-flex justify-content-around">
      <%= link_to new_friend_meet_path(@friend), class:"text-decoration-none", data: { friends_Target: "date" } do %>
      <button class="friends-button border border-dark-subtle">Date</button>
      <% end %>
      <%= link_to friends_path(friend_id: params[:id]), class:"text-decoration-none", data: { friends_Target: "more" } do %>
        <button class="friends-button border border-dark-subtle">Retour</button>
        <% end %>
    </div>
  </div>
</div>
