<div class="row">
  <!-- Debug preferences-->
  <%#= "**** Meets :" + meets.inspect %>
  <div class="row" data-controller="modal">
    <% meets.each do |meet| %>
      <div class="halfway-card" style="width: 80%; display: inline-block;"
          data-action="click->modal#openModal"
          data-meet-id="<%= meet.id %>"
          data-image-url="<%= asset_path("users/#{meet.accointance.friend_of(user).picture}") %>"
          data-meet-details='Status: <%= meet.status == "pending" ? "En attente" : "Validé" %>, Date: <%= meet.date.strftime("%d/%m/%Y") %>'
          data-modal-target="card">
        <div class="">
          <div class="row align-items-center">
            <!-- Image column -->
            <div class="col-3 col-md-2" >
              <%= image_tag "users/#{meet.accointance.friend_of(user).picture}",
                            class: "halfway-card-image rounded-circle img-fluid",
                            style: "transform: scale(1.5);",
                            alt: meet.accointance.friend_of(user).first_name %>
            </div>
            <!-- Text details column -->
            <div class="col-7 col-md-9 mt-2">
              <div class="mb-0">
                  <h5>Status: <%= meet.status == "pending" ? "En attente" : "Validé" %></h5>
                  <p>Date: <%= meet.date.strftime("%d/%m/%Y") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div id="customModal" class="custom-modal" style="display:none;">
      <div class="halfway-modal-content">
        <span class="close-button" data-action="click->modal#closeModal">&times;</span>
        <div id="modalContent"></div> <!-- Content will be dynamically inserted here -->
      </div>
    </div>
  </div>
</div>
