<div class="preferences-user-datr">
  <div class="d-flex justify-content-center">
    <h2>Mes Préférences</h2>
  </div>
  <%= simple_form_for user, method: :patch do |f| %>
    <% if preferences.any? %>
      <div class="row">
        <% Location.allowed_types.each_with_index do |type, index| %>
          <div class="col-12">
            <div class="card" style="width: 90%; margin: 1% auto; border-radius: 10px; background-color: #f0f0f0;">
              <div class="row align-items-center">

                <!-- Checkbox column -->
                <div class="col-3 d-flex justify-content-center">
                  <%= f.input :preferences, as: :boolean, label: false,
                      input_html: { name: "user[preferences][#{index}]", value: type.first, checked: preferences.include?(type.first),
                      id: "preference_#{index}", style: "transform: scale(2); margin-right: 5%;" } %>
                </div>

                <!-- Image column -->
                <div class="col-3">
                  <%= image_tag type.last, class: "card-img rounded-circle img-fluid", alt: type.first %>
                </div>

                <!-- Text details column -->
                <div class="col-6">
                  <div class="card-body">
                    <h5 class="card-title"><%= type.first %></h5>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Sauvegarde", class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="no-preferences-user-datr">
        <h2>Aucune preference trouvée</h2>
      </div>
    <% end %>
  <% end %>
</div>
