<%= form_tag friend_meet_selected_places_path(friend, meet), method: :post do %>
  <div class="list-locations-selected-places-datr" data-controller="place-selection">
    <div class="text-center d-flex justify-content-center align-items-center" id="choicePrompt">
      <div>
        <h2 id="choiceText" data-place-selection-target="choiceText"></h2>
      </div>
      <div>
        <%= submit_tag 'Envoi', class: 'btn btn-primary', id: 'submit-choices', data: { place_selection_target: "submitButton" } %>
      </div>
    </div>

    <div class="row">
      <% places.each do |place| %>
        <div class="col-12">
          <div class="halfway-card text-center" data-place-selection-target="card" data-place-selection-card-id-value="selected_place_<%= place.id %>">
            <div class="row align-items-center h-100">

              <!-- Image column -->
              <div class="col-3 col-md-2 d-flex justify-content-center align-items-center">
                <%= image_tag place.picture, class: "halfway-card-image rounded-circle img-fluid", alt: place.name %>
              </div>

              <!-- Checkbox column -->
              <div class="col-2 col-md-1 d-flex justify-content-center align-items-center">
                <%= check_box_tag "selected_places[]", place.id, false, id: "selected_place_#{place.id}", style: "transform: scale(1.5);", data: { action: "change->place-selection#toggleCheckbox" } %>
              </div>

              <!-- Text details column -->
              <div class="col-7 col-md-9 d-flex justify-content-center align-items-center">
                <div class="card-body">
                  <h5 class="card-title"><%= place.name %></h5>
                </div>
              </div>

            </div>
            <label for="selected_place_<%= place.id %>" class="visually-hidden">Select</label>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
<% end %>
