<%= form_tag friend_meet_selected_places_path(friend, meet), method: :post do %>
  <div class="list-locations-selected-places-datr text-center" data-controller="place-selection">
    <h1 >Lieux Possibles</h1>

    <% places.each_with_index do |place, index| %>
        <div class="row align-items-center halfway-card" data-place-selection-target="card" data-place-selection-card-id-value="selected_place_<%= place.id %>">
          <div class="col-1 p-0">
            <p class="m-0"><%= index + 1 %></p>
          </div>

          <!-- Image column -->
          <div class="col-2 p-0">
            <%= image_tag place.picture, class: "halfway-card-image rounded-circle img-fluid", alt: place.name %>
          </div>
          <!-- Checkbox column -->
            <div class="col-1 p-0">
              <%= check_box_tag "selected_places[]", place.id, false, id: "selected_place_#{place.id}", style: "transform: scale(1.5);", data: { action: "change->place-selection#toggleCheckbox" } %>
            </div>

          <!-- Text details column -->
          <div class="col-8 p-0">
            <p class="m-0"><%= "'#{place.name}'" %></p>
            <p class="m-0"><%= "#{place.address}, #{place.city}" %></p>
          </div>

          </div>
          <label for="selected_place_<%= place.id %>" class="visually-hidden">Select</label>
    <% end %>

    <div class="text-center d-flex justify-content-center align-items-center" id="choicePrompt">
      <%= submit_tag "Parfait !", class: 'btn btn-primary location-button-color mb-2', id: 'submit-choices', data: { place_selection_target: "submitButton" } %>
    </div>

  </div>
<% end %>
