<p>HELLO FROM Accointance list</p>

<% @users.each do |user| %>
  <% unless user == current_user %>
    <div class="card-accointance"><%= render "layouts/card_accointance" %>
      <%= image_tag user.picture %>
      <h2><%= user.first_name %></h2>
      <p><%= user.last_name %></p>
        <% if user.in?(current_user.friends) %>
          <%= "Friend" if current_user.accointances.find_by(recipient_id: user.id).status == "accepted" %>
        <% else %>
          <%= button_to 'ADD A NEW FRIENDS', user_accointances_path(user), method: :post %>
        <% end %>


      </div>
    </div>
  <% end %>
<% end %>
