<div class="container">

<!-- la barre de recherche -->
  <div class="search-barre row justify-content-center m-2 my-4">
    <div class="">
      <%= form_with url: accointances_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "search-barre",
              placeholder: "ajoute ton date !"
          %>
        <%= submit_tag "Search", name: "", class: "button_ajout_accointance" %>
      <% end %>
    </div>
  </div>

<!--Mon titre-->
  <div class="row m-4 title">Ajoute ton futur date !</div>

<!--la liste des users ordonnées par type de status d'accoitnance-->
  <% @users.each do |user| %>
    <% accointance = current_user.accointance_with(user) %>
    <% if accointance %>
      <%= render partial: "status_exist", locals: { user: user, accointance: accointance } %>
    <% else %>
      <%= render partial: "add_button", locals: { user: user } %>
    <% end %>
  <% end %>

</div>
