<footer>
<ul class="footer d-flex justify-content-between list-unstyled p-3">
    <li><%= link_to friends_path do %>
        <%= image_tag "home.png", class: "icon"%>
      <% end %>
    </li>
    <li><%= link_to "" do %>
        <%= image_tag "coeur.png", class: "icon"%>
      <% end %>
    </li>
    <li><%= link_to "" do %>
        <%= image_tag "messages.png", class: "icon"%>
      <% end %>
    </li>
    <li><%= link_to "" do %>
        <%= image_tag "profile.png", class: "icon"%>
      <% end %>
    </li>
  </ul>
</footer>
