<footer class="container d-flex flex-wrap justify-content-between  align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center ">

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

      <p class="my-auto">Made with ❤️ by :</p>

      <li class="ms-3"><%= link_to "https://github.com/AntoineHuret", target: "_blank" do  %>
        <%= image_tag "antoine.jpg", class: "avatar"%>
      <% end %></li>
      <li class="ms-3"><%= link_to "https://github.com/Christophe-Marco", target: "_blank" do  %>
        <%= image_tag "christophe.jpg", class: "avatar"%>
      <% end %></li>
      <li class="ms-3"><%= link_to "https://github.com/mxm-rc", target: "_blank" do  %>
        <%= image_tag "maxime.jpg", class: "avatar"%>
      <% end %></li>
      <li class="ms-3"><%= link_to "https://github.com/MaxFroh10", target: "_blank" do  %>
        <%= image_tag "maxence.jpg", class: "avatar"%>
      <% end %></li>

    </ul>
  </div>
 </footer>
