<footer>
<ul class="footer d-flex justify-content-between list-unstyled p-3 m-0">
    <li><%= link_to friends_path do %>
        <%= image_tag "home.png", class: "icon"%>
      <% end %>
    </li>
    <li><%= link_to accointances_path do %>
        <%= image_tag "coeur.png", class: "icon"%>
      <% end %>
    </li>
    <li><%= link_to accointances_requests_path do %>
        <%= image_tag "user-plus-solid", class: "icon"%>
      <% end %>
    </li>
    <li><%= link_to edit_user_path(current_user) do %>
        <%= image_tag "profile.png", class: "icon"%>
      <% end %>
    </li>
  </ul>
</footer>
