  <!-- Copyrights, coordinates, thanks etc... -->
  <footer class="m-2 text-body-secondary d-flex flex-column align-items-start">
    <p class="m-0">© 2024 Michelle Mabelle Studio</p>
    <p class="m-0">Créer avec ❤️ par :</p>
    <ul class="m-0 d-flex align-items-center justify-content-around list-unstyled">
      <li>
        <%= link_to "https://github.com/AntoineHuret", target: "_blank" do %>
          <%= image_tag "users/antoine.jpg", class: "halfway-avatar", title: "Tonio" %>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/Christophe-Marco", target: "_blank" do %>
          <%= image_tag "users/christophe.jpg", class: "halfway-avatar", title: "Toffy" %>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/mxm-rc", target: "_blank" do %>
          <%= image_tag "users/maxime.jpg", class: "halfway-avatar", title: "MadMax" %>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/MaxFroh10", target: "_blank" do %>
          <%= image_tag "users/maxence.jpg", class: "halfway-avatar", title: "Ani" %>
        <% end %>
      </li>
    </ul>
  </footer>
